
body{
    background: #a7a6ba;
    background: url("https://cdn1.epicgames.com/ue/product/Screenshot/HighresScreenshot00050-1920x1080-4c7393bde09dc5ce66f159423367260d.jpg?resize=1&w=1920");
  }

.navbar{
  position: relative;
  display: inline-block;
  }

.navbuttons{
   
    color: white;
    font-family: Georgia;
    font-weight: 100;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #070B34;
    margin: 10px 5px 10px 5px;
    text-decoration: none;
    position: relative;
    top: 10px;
  }

  .external-buttons:hover, .navbuttons:hover{
    background-color: white;
    color: #070B34;
    
  }

  .navBarDropdownBtn {
  background-color: #484952;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  position: fixed;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: auto;
    max-height: 150;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Georgia;
   
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}


/* Show the dropdown menu on hover */
.navbar:hover .dropdown-content {display: block;}

.navBarDropdownBtn:hover{
  background-color: #79797a;
  
}
