
body{
    background: #a7a6ba;
    background: url("https://cdn1.epicgames.com/ue/product/Screenshot/HighresScreenshot00050-1920x1080-4c7393bde09dc5ce66f159423367260d.jpg?resize=1&w=1920");
  }

.navbar{
    padding: 10px;
    height: 35px;
    left: 0px; 
    position: fixed;
    top: 0px;
  }

.navbuttons{
   
    color: white;
    font-family: Georgia;
    font-weight: 100;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #070B34;
    margin: 10px 5px 10px 5px;
    text-decoration: none;
    position: relative;
    top: 10px;
  }

  .external-buttons:hover, .navbuttons:hover{
    background-color: white;
    color: #070B34;
    
  }
