h1, h2{
    text-align: center;
    padding-top: 75px;
    font-family: Georgia;
    color: white;
}

figcaption{
  height: auto;
  word-wrap: break-word;
  width: 500px;
  color: white;
  font-size: 20px;
}

figure{
    display:inline-block;
  
}

#sketches{
    text-align: center;
}

#earthquake{
    height: auto;
    word-wrap: break-word;
    width: 1024px;
    color: white;
    font-size: 20px;
  }



